@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
 *{
     box-sizing: border-box;
     font-family: 'Rajdhani', sans-serif;
 }

html {
  scroll-behavior: smooth;
}

 body{background-color: black;
     }
 .nav{
     background-color: rgb(16, 15, 15);
     color: white;
     display: inline-block;
     padding: 4rem;
     padding-bottom: 20rem;
     margin-left: -1rem;
     margin-top: -2rem;
     position: fixed;
     z-index: 999;
     
 }

 

ul{
    text-align: center;
    margin-left: -2rem;
    margin-top: 5rem;
}

 

 li{
     margin-top: 3rem;
     list-style: none;
     font-size: 1.08rem;
     cursor: pointer;
 }

 li:hover{
     color: rgb(148, 21, 238);
     transform: scale(1.5);
     transition: all 1s ease-in-out;
     
 }

 .icon{
     display: none;
     margin-top: 2rem;
     width: 100%;
     max-width: 3rem;
     position: fixed;
     z-index: 999;
     cursor: pointer;
 }

 .icon2{
    margin-top: 2rem;
    width: 100%;
    max-width: 1rem;
    position: fixed;
    z-index: 999;
    cursor: pointer;

 }

#followMe{
    margin-top: 7rem;
    text-align: center;
    font-weight: 100;
    
}

.social{
    display: flex;
    flex-direction: row;
}

.i{
    width: 100%;
    max-width: 1rem;
    margin-left: 1rem;
}


 .myName{
     border-bottom: 2px solid rgb(148, 21, 238);
     margin-left: 1rem;
     font-size: 2rem;
     display: inline-block;
     text-shadow: 3px 3px 3px rgb(148, 21, 238);
 }

 .text{
     position: absolute;
     top: 50%;
     left: 60%;
     transform: translate(-50%, -50%);
     color: white;
     text-align: center;
 }

 @media(max-width:900px){
    .nav{
        display: none;
    }
    .text{
        left: 50%;
    }
}

@media(max-width: 450px){
    .nav{
        padding: 1rem;
        margin-top: 0;
    }
}



.nav2{
    background-color: rgb(16, 15, 15);
    color: white;
    display: inline-block;
    padding: 2rem;
    padding-bottom: 20rem;
    margin-left: -1rem;
    margin-top: -2rem;
    position: fixed;
    z-index: 999;
    display: block;
 }


 .main{
        
        background: url('banner.jpg') no-repeat center / cover;
        background-attachment: fixed;
        height: 100vh;
        position: relative;
        z-index: 1;
        margin-top: -2rem;
        height: 41rem;
        color: white;
  
  
 }


 .main::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
 }

.name{
    font-size: 4em;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
}

.direction{
    margin-top: 1rem;
    font-size: 2rem;
    transform: rotate(90deg);
    animation: dir 2.5s linear infinite;
}
.direction2{
    transform: rotate(90deg);
    margin-top: -2rem;
    animation: dir 5s linear infinite;
}
a{
    text-decoration: none;
}

@keyframes dir {
    0%{
        color: rgb(148, 21, 238);
    }
    50%{
        color: white;
    }
    100%{
        color: rgb(148, 21, 238);
    }
}



.hireMe{
    background-color: rgb(148, 21, 238);
    border: 2px solid rgb(148, 21, 238);
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 1s ease;
    cursor: pointer;
}

.hireMe:hover{
    transition: all 1s ease;
    background: transparent;
}


.about{
    margin-left:12rem;
   
    position: relative;
    z-index: 1;
    margin-top: 2rem;
    height: 41rem;
    color: white;
    border-bottom: 2px solid rgb(148, 21, 238);
    


}
.about-section{
    border-bottom: 2px solid rgb(148, 21, 238);
    
    display: inline-block;
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
}



.about::before{

position: absolute;
content: '';
top: 0;
left: 0;
width: 100%;
margin-left: 0.5rem;
height: 100%;

z-index: -1;
}


.cv{
   
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
}
.hireMe2{
   font-size: 1rem !important; 
    background-color: rgb(148, 21, 238);
    border: 2px solid rgb(148, 21, 238);
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 1s ease;
    cursor: pointer;
}

.hireMe2:hover{
    background-color: black;
}


.hireMeCV{
    font-size: 1rem !important; 
    margin-left: 0.8rem;
    background-color: black;
    border: 2px solid rgb(148, 21, 238);
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 1s ease;
    cursor: pointer;
}

.hireMeCV:hover{
    background-color: rgb(148, 21, 238);
}

.me{
    margin-left:2rem;
    width: 100%;
    max-width: 28rem;
    height: 35rem;
    margin-top: 5rem;
    transition: all 0.5s ease-in-out;
}

.me2{
    
    margin-left: 0rem;
    width: 100%;
    max-width: 29rem;
    height: 35rem;
    margin-top: 0rem;
    transition: all 0.5s ease-in-out;
    display: none;
}



.all-about{
    display: flex;
   
    margin-left: 5rem;
}



.phone-mail{
    display: flex;
    margin-top: 7.5rem;
}

.phone{
    background-color: rgb(16, 15, 15);
    padding: 4rem 4rem 4rem 4rem;
    border: 2px solid rgb(148, 21, 238);
    animation: filter1 5s linear infinite;
}

.number{
    font-size: 0.6rem !important;
    cursor: pointer;
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
    
}

.number:hover{
    transform: scale(1.5);
    z-index: 999;
}

@keyframes filter1 {
    0%{
        border: 2px solid rgb(255, 255, 255);
    }
     50%{
        border: 2px solid rgb(148, 21, 238);
     }

     100%{
        border: 2px solid rgb(255, 255, 255);
     }
}



.Email{
    background-color: rgb(16, 15, 15);
    padding: 4rem 4rem 4rem 4rem;
    margin-left: 2rem;
    border: 2px solid rgb(148, 21, 238);
    animation: filter 5s linear infinite;
}

@keyframes filter {
    0%{
        border: 2px solid rgb(148, 21, 238);
    }
     50%{
        border: 2px solid rgb(255, 255, 255);
     }

     100%{
        border: 2px solid rgb(148, 21, 238);
     }
}



.service{
    margin-left:17rem;
    margin-top: 7rem;
  
}
.section-project{
    display: flex;
}

.service-section{
    color: white;
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
    font-size: 2rem;
    border-bottom: 2px solid rgb(148, 21, 238);
    display: inline-block;
}
.title{
    font-size: 2rem;
}

.works{
    color: white;
    display: flex;
    justify-content: flex-start;
}

.design, .dev, .ph{
    border-left: 10px solid rgb(148, 21, 238);
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(148, 21, 238);
    background-color: rgb(16, 15, 15);
    text-align: center;
    padding: 0rem 2rem 0rem 2rem;
    margin-top: 2rem;
    animation: color 3s linear infinite;
}

@keyframes color {
    0%{
        border-left: 10px solid rgb(255, 255, 255);
    }
    50%{
        border-left: 10px solid rgb(148, 21, 238);
    }
    100%{
        border-left: 10px solid rgb(255, 255, 255);
    }
    
}
.dev, .ph{
    margin-left: 6.7rem;
}

.n{
    font-size: 1.5rem !important;
    display: inline-block;
    margin-bottom: 0;
    border-bottom: 2px solid rgb(148, 21, 238);

}




.projects{
    margin-top: 5rem;
    margin-left: 17rem;
    color: white;
  
}

.img-port-1,.img-port-2{
    display: flex;
}

.p{
    width: 100%;
    max-width: 20rem;
    height: 120%;
    transition: all 0.3s linear;
    border: 5px solid rgba(148, 21, 238, 0.355);
}


.tem{
    margin-left: 1rem;
}
.tim{
    height: 120%;

}

.img-port-2{
    margin-top: 4rem;
}

.click-img{
    margin-left: 1rem;
}

.tem, .click-img{
    margin-left: 21rem;
   
}



.port-section{
    color: white;
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
    font-size: 2rem;
    border-bottom: 2px solid rgb(148, 21, 238);
    display: inline-block;
}

.desc{
    color: white;
}

.all-section{
    display: flex;
}



.num{
    font-size: 2rem;
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
    margin-left: 1rem;
}

.mail{
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
    margin-left: 1rem;
}

.all-contact{
    margin-top: 5rem;
    display: flex;
    margin-left: 17rem;
}

.country{
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
    margin-left: 1rem;
}
.contactMe{
    font-size: 2rem;
    margin-left: 1rem;

    
    display: inline-block;
    text-shadow: 3px 3px 3px rgb(148, 21, 238);
}



.c-form{
    display: flex;
}



form { max-width:420px; margin-left: 20rem; margin-top: 3rem; }

.feedback-input{
  color:white;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid rgb(148, 21, 238);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
 
}

.contact-1{
    color:white;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid rgb(148, 21, 238);
    transition: all 0.3s;
    width:100%;
    max-width: 20rem;
    box-sizing: border-box;
}

.feedback-input:focus { border:2px solid rgb(148, 21, 238); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:rgb(148, 21, 238);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:rgb(148, 21, 238); }


a{
    text-decoration: none;
    color: white;
}

